.addWrapper {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;

    div {
        width: 60%;
        display: flex;

        input {
            width: 100%;
        }
    }

    .addButton {
        width: 30%;
        margin: auto;
    }
}

.tasks-container {
    margin-top: 2%;
}