.addWrapper {
    display: flex;
    justify-content: center;

    div {
        width: 60%;
        display: flex;

        input {
            width: 100%;
        }
    }

    .addButton {
        width: 20%;
    }
}

.tasks-container {
    margin-top: 2%;
}